################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TodoApplication/.vs/TodoApplication/v16
/TodoApplication/bin/Debug/netcoreapp3.1
/TodoApplication/obj
/TodoApplication/TodoApplication.csproj.user
/TodoApplication/.vs/TodoApplication/DesignTimeBuild
/TodoApplication/.vs/TodoApplication/config
/Todo.IdentityExample/aspnet-Identity.mdf
/Todo.IdentityExample/aspnet-Identity_log.ldf
